
.login-container {
    position: relative;
}

.login-container img {
    max-height: 40px;  /* Adjust the maximum height as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand img {
    max-height: 40px;  /* Adjust the maximum height as needed */
    padding: 5px;      /* Add padding to the logo to prevent overlap */
}